@font-face {
    font-family: Sunday Sport;
    src: url(SundaySport.otf) format('opentype');
}

@font-face {
    font-family: Sports Bar;
    src: url(SportsBar.otf) format('opentype');
}

@font-face {
    font-family: Bebas;
    src: url(Bebas-Regular.otf) format('opentype');
}


* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/fondo.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/*-----------navbar---------*/
#navbar {
    transition: all 0.3s ease-in-out;
    /* Suaviza el cambio */
}

#navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}
/*------------------------*/

/*-------carrusel-------*/
.carousel-item img {
    height: 700px;
    object-fit: cover;
    filter: brightness(80%);
}
/*-----------------------*/

/*-------QUIENES SOMOS------*/
.nosotros {
    background-image: url(../img/nosotros.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

}

.imagen {
    width: 20%;
}

.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*-----------------------------------*/

/*-------PROPIEDADES PARA TITULOS PRINCIPALES, SECUNDARIOS Y PÁRRAFOS-------*/
.titulo-principal {
    font-size: 60px;
    font-family: Sunday Sport;
}

.titulo-secundario {
    font-family: Sports Bar;
}

.parrafo {
    font-family: Bebas;
    font-size: 18px;
}
/*----------------------------------------------*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 15px;

}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div1 img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.div1 img:hover {
    transform: scale(1.1);
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div2 img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.div2 img:hover {
    transform: scale(1.1);
}

.div3 {
    grid-area: 1 / 2 / 3 / 3;
}

.div3 img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.div3 img:hover {
    transform: scale(1.1);
}

.div4 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.div4 img:hover {
    transform: scale(1.1);
}

.div5 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.div5 img:hover {
    transform: scale(1.1);
}

/* imagenes con efectos*/
.product-card {
    position: relative;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.product-card:hover .img-hover {
    opacity: 1;
}

.img-hover .img-normal {
    background-size: cover;
}

.description {
    font-size: 16px;
}


.tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tarjeta1 {
    grid-area: 1 / 1 / 2 / 2;
}

.tarjeta2 {
    grid-area: 1 / 2 / 2 / 3;
}

.tarjeta3 {
    grid-area: 1 / 3 / 2 / 4;
}

.tarjetas {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Estilo para las tarjetas */
.tarjetas {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.tarjeta1,
.tarjeta2,
.tarjeta3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    transition: all 0.3s ease;
    padding: 10px;
}

.tarjeta1 i,
.tarjeta2 i,
.tarjeta3 i {
    font-size: 4rem;
    margin-bottom: 10px;
}

.tarjeta1 h3,
.tarjeta2 h3,
.tarjeta3 h3 {
    text-transform: uppercase;
}

.tarjeta1 p,
.tarjeta2 p,
.tarjeta3 p {
    font-size: 1rem;
    margin: 0;
    color: #333;
}

/* Efecto hover */
.tarjeta1:hover,
.tarjeta2:hover,
.tarjeta3:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
    /* Efecto de aumento */
}

.cajas {
    height: 100%;
}

/*-------------CLIENTES-----------*/
.colo {
    width: 8%;
}

.tres {
    width: 40%;
}
/*-------------------------------------*/

/*---------------PRODUCTOS--------------*/
.img-product {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(60%);
}
/*--------------------------------------*/

/*----------BANNER-PRODCUTOS----------*/
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
}
/*------------------------------------*/

/*------------------SALE---------------*/
.img-sale {
    width: 100%;
    height: 700px;
    object-fit: cover;
    filter: brightness(60%);
}
/*-------------------------------------*/

/* imagenes con efectos*/
.product-card {
    position: relative;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.product-card:hover .img-hover {
    opacity: 1;
}

.img-hover .img-normal {
    background-size: cover;
}

.description {
    font-size: 16px;
}

/*-----------CONTACTO-----------*/
.contact-section {
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

}

.contact-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contact-section .container {
    position: relative;
    z-index: 2;
}


.map-container {
    position: relative;
    width: 100%;
    height: 100vh; 
}

.mapa {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%; 
    height: 80%; 
    border: none; 
}
.foto-personal{
    width: 30%;
}
/*-------------------------------------------*/

strong{
    font-weight: bold;
    color: black;
    background-color: #ffff;
}

